		<div class="benefits" id="zen-benefits" role="article">
			<h3>Do you need more help?</h3>
			<p>For more tips and sample essays, visit <a href="https://owl.english.purdue.edu/">Purdue Online Writing Lab</a> and make sure you styled your essay in correct MLA format.</p>
		</div>

		<footer>
			<a href="" class="zen-validate-html">English</a>
			<a href="" class="zen-validate-css">Korean</a>
			<a href="" class="zen-license">Spanish</a>
			<a href="" class="zen-accessibility">Chinese</a>
		</footer>

	</div>


	<aside class="sidebar" role="complementary">
		<div class="wrapper">

			<div class="design-selection" id="design-selection">
				<h3 class="select">Creators:</h3>
				<nav role="navigation">
					<ul>
					<li>
						<a href="/221/" class="design-name">Sehee Shim</a>						<a href="http://andrewlohman.com/" class="designer-name">Computer Science and Engneering</a>
					</li>					<li>
						<a href="/220/" class="design-name">Yoonyoung Cho</a>						<a href="http://danielmall.com/" class="designer-name">English Language and Literature</a>
					</li>					<li>
						<a href="/219/" class="design-name">Yikyeong Ko</a> 						<a href="http://steffen-knoeller.de" class="designer-name">Political Science and International Relations</a>
					</li>					<li>
						<a href="/218/" class="design-name">Taehyeon Kim</a> 						<a href="http://trentwalton.com" class="designer-name">Agricultural Economics and Rural Development</a>
					</li>					</ul>
				</nav>
			</div>

			<div class="design-archives" id="design-archives">
				<h3 class="archives">Contact Us:</h3>
				<nav role="navigation">
					<ul>
						<li class="next">
							<a href="/217/page1">
								dgssh@snu.ac.kr
								<br><br>
								010)7824-1932
							</a>
						</li>
					</ul>
				</nav>
			</div>

			<div class="zen-resources" id="zen-resources">
				<h3 class="resources">Resources:</h3>
				<ul>
					<li class="view-css">
						<a href="/217/217.css" title="View the source CSS file of the currently-viewed design.">
							CSS Design from Zen Garden</abbr>						</a>
					</li>
					<li class="css-resources">
						<a href="http://www.mezzoblue.com/zengarden/resources/" title="Links to great sites with information on using CSS.">
							<abbr title="Cascading Style Sheets">Thesaurus.com</abbr>						</a>
					</li>
					<li class="zen-faq">
						<a href="http://www.mezzoblue.com/zengarden/faq/" title="A list of Frequently Asked Questions about the Zen Garden.">
							<abbr title="Frequently Asked Questions">Owl@Purdue</abbr>						</a>
					</li>
				</ul>
			</div>
		</div>
	</aside>


</div>

<div class="extra1" role="presentation"></div><div class="extra2" role="presentation"></div><div class="extra3" role="presentation"></div>
<div class="extra4" role="presentation"></div><div class="extra5" role="presentation"></div><div class="extra6" role="presentation"></div>

</body>
</html>